/* Write your CSS here */
.container {
  background-color: #f1f5f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  color: #2d3a35;
  font-family: 'roboto';
  font-size: 40px;
}

.para {
  color: #2d3a35;
  font-family: 'roboto';
  font-size: 15px;
}

.timer {
  color: #c20a72;
  font-family: 'roboto';
  font-size: 40px;
}
.button {
  color: white;
  font-family: 'roboto';
  padding: 10px;
  border: 0px;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  outline: none;
  background-color: #007bff;
}
